.navbar{
    height: 46px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__item-link{
    padding: 12px 24px;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 1.6rem;
}
.navbar__item-more{
    position: relative;
}
.navbar__more-icon{
    color: #fff;
}

.navbar__droplist{
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: #fff;
    list-style: none;
}

.navbar__item-more:hover .navbar__droplist{
    display: block;
}
.droplist__item-link{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
}

.droplist__item-link:hover{
    background-color: rgb(228, 228, 228);
}

.navbar__search{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 9px 24px 8px 24px;
}

.navbar__search:hover{
    background-color: #f44336;
}

.container{
    width: 100%;
}
