.navbar {
  height: 46px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__item-link {
  padding: 12px 24px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1.6rem;
}
.navbar__item-link:hover,
.navbar__item-link:hover .navbar__more-icon {
  background-color: rgb(228, 228, 228);
  color: #000;
}
.navbar__item-more {
  position: relative;
}
.navbar__more-icon {
  color: #fff;
}

.navbar__droplist {
  display: none;
  position: absolute;
  top: 90%;
  right: 0;
  background-color: #fff;
  list-style: none;
}

.navbar__item-more:hover .navbar__droplist {
  display: block;
}
.droplist__item-link {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
}

.droplist__item-link:hover {
  background-color: rgb(228, 228, 228);
}

.navbar__search {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 9px 24px 8px 24px;
}

.navbar__search:hover {
  background-color: #f44336;
}

.container {
  width: 100%;
}
.Slider {
  position: relative;
  width: 100%;
  margin-top: 46px;
}
.Slider__Img {
  width: 100%;
}
.Slider__Info {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
  padding: 32px 32px;
  transform: translateX(-50%);
}
.Slider__Name {
  text-align: center;
  font-size: 1.4rem;
}
.Section {
  width: 100%;
}
.Band {
  margin: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
  text-align: center;
  min-height: 50vh;
}
.Band__Title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.Band__subTitle {
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.Band__Description {
  font-size: 0.6rem;
  text-align: justify;
}
.Team{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.Member{
    flex: 1;
}
.Member__Name{
    font-size: 0.6rem;
    font-weight: 300;
}
.Member__Img{
    margin-top: 20px;
    height: 152px;
    width: 152px;
    object-fit: cover;
}

.Section.Tour {
  background-color: #000;

}
.tourContent{
  margin: 10px;
  color: #fff;
  margin: 10px;
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 64px 0;
text-align: center;
min-height: 50vh;
}


.Tour__Title{
    font-size: 1.2rem;
    font-weight: 400;
}
.Tour__SubTitle{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}
.Tour__Date{
    width: 100%;
    list-style: none;
    text-align: start;
}
.Date__Item{
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ccc;
    line-height: 1.6rem;
    padding: 0 10px;
}
.soldOutBanner{
  background-color: #f44336;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Tour_Place{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 8px;
  flex-wrap: wrap;
}

.PlaceItem{
  flex: 1;
background-color: #fff;
color: #000;
text-align: start;
margin: 0 8px;
}
.PlaceImg{
  width: 100%;
  vertical-align: middle;

}
.PlaceContent{
  padding: 14px 14px;

}
.PlaceTime{
  margin: 10px 0;
  font-size: 0.5rem;
  opacity: 0.8;
}
.PlaceDesc{
  font-size: 0.5rem;
  margin-bottom: 10px;
}
.PlaceBtn{
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.Contact{
  color: #000;

}

.ContactContent{
  margin: 10px;
  margin: 10px;
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 64px 0;
text-align: center;
min-height: 50vh;
}

.Contact__Title{
  font-size: 1.2rem;
  font-weight: 400;
}
    
.Contact__SubTitle{
  font-size: 0.5rem;
  color: rgba(47, 46, 46, 0.5);
}

.ContactInfomation{
  display: flex;
  padding: 32px 0;
}
.Info{
  flex: 1;
}
.location{
  display: flex;
  margin-bottom: 10px;
}
.phone{
  display: flex;
  margin-bottom: 10px;

}
.mail{
  display: flex;
}

.ContactIcon{
  padding:0 8px;
}
.DescContact{
  margin-left: 10px;
}

.FormContact{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Input{
  display: flex;
  margin-bottom: 10px;
}
.InputName{
  padding: 0 8px;
  flex: 1;
}
.InputMail{
  flex: 1;
  padding: 0 8px;
}
.InputMessage{
  flex: 1;
  padding: 0 8px;
  margin-bottom: 10px;
}
.InputContent{
  padding: 8px;
  flex: 1;
  width: 100%;
}
.Send{

  padding: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.SendBtn{
  padding: 8px;
  border: 1px solid #ccc;
  width: 80px;
  font-size: 0.8rem;
  background-color: #000;
  color: white;
}

.Map img{
  width: 100%;
}
.footer{
  padding: 64px 16px;
  text-align: center;
}
.social-list{
  font-size: 24px;
}
.social-list a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.social-list a:hover {
  color :rgba(0,0,0,0.3);
}
.copyright {
  margin-top: 15px;
  color: rgba(0,0,0,0.6);
}